{
  "log": {
    "_recordingName": "LocationIQ Geocoder Provider/receives error when the API key is bad",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "5.1.0"
    },
    "entries": [
      {
        "_id": "692421b7cc481489eb123649e3585cab",
        "request": {
          "headers": [
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "q",
              "value": "1600 Pennsylvania Ave, Washington, DC"
            },
            {
              "name": "limit",
              "value": "5"
            },
            {
              "name": "matchquality",
              "value": "1"
            },
            {
              "name": "format",
              "value": "json"
            },
            {
              "name": "addressdetails",
              "value": "1"
            },
            {
              "name": "normalizeaddress",
              "value": "1"
            },
            {
              "name": "normalizecity",
              "value": "1"
            },
            {
              "name": "statecode",
              "value": "1"
            },
            {
              "name": "postaladdress",
              "value": "1"
            }
          ],
          "url": "https://locationiq.com/v1/search.php?q=1600+Pennsylvania+Ave%2C+Washington%2C+DC&limit=5&matchquality=1&format=json&addressdetails=1&normalizeaddress=1&normalizecity=1&statecode=1&postaladdress=1"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=UTF-8",
            "size": 23,
            "text": "{\"error\":\"Invalid key\"}"
          },
          ],
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=UTF-8"
            }
          ],
          "status": 401,
          "statusText": "Unauthorized"
        },
        "time": 277,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
