{
  "log": {
    "_recordingName": "OpenStreetMap / Nominatim Geocoder Provider/receives correct geocoding results",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "5.0.0"
    },
    "entries": [
      {
        "_id": "0437d77cc53b7caae515f310865a2d39",
        "request": {
          "headers": [
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "q",
              "value": "1600 Pennsylvania Ave, Washington, DC"
            },
            {
              "name": "limit",
              "value": "5"
            },
            {
              "name": "format",
              "value": "jsonv2"
            },
            {
              "name": "addressdetails",
              "value": "1"
            },
            {
              "name": "polygon_geojson",
              "value": "1"
            }
          ],
          "url": "https://nominatim.openstreetmap.org/search?q=1600+Pennsylvania+Ave%2C+Washington%2C+DC&limit=5&format=jsonv2&addressdetails=1&polygon_geojson=1"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=UTF-8",
            "size": 840,
            "text": "[{\"place_id\":302200007,\"licence\":\"Data © OpenStreetMap contributors, ODbL 1.0. https://osm.org/copyright\",\"osm_type\":\"way\",\"osm_id\":899927550,\"boundingbox\":[\"38.8957792\",\"38.8958368\",\"-77.0306691\",\"-77.030466\"],\"lat\":\"38.895806\",\"lon\":\"-77.0305572\",\"display_name\":\"Pennsylvania Avenue, Washington, District of Columbia, 20045, United States\",\"place_rank\":27,\"category\":\"highway\",\"type\":\"path\",\"importance\":0.385,\"address\":{\"road\":\"Pennsylvania Avenue\",\"city\":\"Washington\",\"state\":\"District of Columbia\",\"postcode\":\"20045\",\"country\":\"United States\",\"country_code\":\"us\"},\"geojson\":{\"type\":\"LineString\",\"coordinates\":[[-77.030466,38.8957792],[-77.0305048,38.8957916],[-77.0305134,38.895794],[-77.0305287,38.8957982],[-77.0305412,38.8958016],[-77.0305572,38.895806],[-77.0306007,38.895818],[-77.0306244,38.8958246],[-77.0306691,38.8958368]]}}]"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=UTF-8"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 170,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
