{
  "log": {
    "_recordingName": "OpenStreetMap / Nominatim Geocoder Provider/receives correct geodecoding results",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "5.0.0"
    },
    "entries": [
      {
        "_id": "bd96ba2d394fa8183c87b047f64362f1",
        "request": {
          "headers": [
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "lat",
              "value": "48.8631507"
            },
            {
              "name": "lon",
              "value": "2.388911"
            },
            {
              "name": "zoom",
              "value": "18"
            },
            {
              "name": "format",
              "value": "jsonv2"
            },
            {
              "name": "addressdetails",
              "value": "1"
            },
            {
              "name": "polygon_kml",
              "value": "1"
            }
          ],
          "url": "https://nominatim.openstreetmap.org/reverse?lat=48.8631507&lon=2.388911&zoom=18&format=jsonv2&addressdetails=1&polygon_kml=1"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=UTF-8",
            "size": 853,
            "text": "{\"place_id\":44112335,\"licence\":\"Data © OpenStreetMap contributors, ODbL 1.0. https://osm.org/copyright\",\"osm_type\":\"node\",\"osm_id\":3394657795,\"lat\":\"48.863065\",\"lon\":\"2.38873\",\"place_rank\":30,\"category\":\"amenity\",\"type\":\"driving_school\",\"importance\":0,\"addresstype\":\"amenity\",\"name\":\"Zebra\",\"display_name\":\"Zebra, Avenue Gambetta, Quartier du Père-Lachaise, Paris 20e Arrondissement, Paris, Île-de-France, France métropolitaine, 75020, France\",\"address\":{\"amenity\":\"Zebra\",\"road\":\"Avenue Gambetta\",\"neighbourhood\":\"Quartier du Père-Lachaise\",\"suburb\":\"Paris 20e Arrondissement\",\"city\":\"Paris\",\"municipality\":\"Paris\",\"county\":\"Paris\",\"state\":\"Île-de-France\",\"country\":\"France\",\"postcode\":\"75020\",\"country_code\":\"fr\"},\"boundingbox\":[\"48.863015\",\"48.863115\",\"2.38868\",\"2.38878\"],\"geokml\":\"<Point><coordinates>2.38873,48.863065</coordinates></Point>\"}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=UTF-8"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 414,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
